.chart-container {
  background-color: #1b76d0;
  height: 20vh;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}
.each-chart-bar {
  width: 12px;
  height: 90%;
  border-radius: 6px;
  background-color: rgb(3, 57, 3);
}
.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.each-chart-bar-content {
  background-color: rgb(24, 145, 192);
  height: 40%;
  border-radius: 12px;
}
